@page
@model WebApplicationCarRazorPages.Pages.Bookings.LoginCustomerModel

@{
    ViewData["Title"] = "LoginCustomer";
}

@if (TempData["ErrorMessage"] != null)
{
    <div>
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["ConfirmingMessage"] != null)
{
    <div>
        @TempData["ConfirmingMessage"]
    </div>
}




<hr />

<div>
    <form method="post" class="tabledata">
        <div asp-validation-summary="ModelOnly"></div>
        <div>

            <input asp-for="Customer.Email" class="input-form" placeholder="Ange e-postadress" />
            <span asp-validation-for="Customer.Email"></span>
        </div>
        <div>

            <input asp-for="Customer.Password" class="input-form" placeholder="Ange lösenord" />
            <span asp-validation-for="Customer.Password"></span>
        </div>

        <div>
            <input type="submit" value="Logga in" class="small button function" />
        </div>
    </form>
</div>


<button class="button function">
    <a asp-page="CreateCustomerByCustomer">Skapa ny användare</a> 
</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
