@page
@model PrivacyModel

<h2 class="tabledata">Om Friberg Car Rentals</h2>

<p class="tabledata">
    IT-gurun och superentreprenören Marcus Friberg har börjat spendera frukten av sina framgångar på
    exklusiva bilar. Hur mycket sonen Malte än gillar pappas nya hobby så är resten av familjen (sambon
    Maria och dottern Malin) inte lika entusiastiska över att gården fylls med bilar. Som den kreativa
    problemlösare han är har Marcus nu registrerat bolaget Friberg Car Rentals AB för att legitimera sitt
    beteende.
</p>
