@page
@model WebApplicationCarRazorPages.Pages.Admins.StartIndexModel


<h2 class="tabledata">Välkommen!</h2>
<button class="button function">
    <a class="nav-link text-dark" href="/Admins/ViewCars">Hantera bilar</a>
</button>
<button class="button function">
    <a class="nav-link text-dark" href="/Admins/ViewCustomers">Hantera kunder</a>
</button>
<button class="button function">
    <a class="nav-link text-dark" href="/Admins/ViewBookings">Hantera bokningar</a>
</button>
<br />
<br />
<button class="button function">
    <a asp-page="/Index">Logga ut</a>
</button>